<!doctype html>
<html lang="en">
    <%- include("header.ejs", { title }) %>
    
    <body>
        <h1><%= title %> </h1>
        <form method="post" action=<%= route %>>
            <div>
                <label for="username">username</label>
                <input type="text" name="username" id="username" />
            </div>

            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="password" />
            </div>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
