<!doctype html>
<html lang="en">
    <body>
        <%- include("navigationBar.ejs", { user }) %>

        <h2>Users</h2>
        <ul>
            <% for (const user of users) { %>
            <li>
                <a href=<%= `/user/${user.username}` %>>
                    <%= user.username %>
                </a>
            </li>
            <% } %>
        </ul>
        Hello World!
    </body>
</html>
